body {
  max-width: 1920px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  padding: 2px 40px;
}

.container {
  background: #ebf0fa;
  display: flex;
  gap: 190px;
  border-radius: 10px;
}

.containerDescription {
  padding: 72px 0 72px 72px;
  max-width: 538px;
}

.containerDescription h1 {
  color: #1f4284;
  font-size: 30px;
  font-weight: 500;
  line-height: 160%; /* 48px */
  margin-bottom: 5px;
}

.containerDescription > p {
  color: #727272;
  font-size: 17px;
  font-weight: 400;
  line-height: 160%; /* 27.2px */
  margin-bottom: 36px;
}

.containerDescription button {
  display: flex;
  padding: 12px 12px 12px 24px;
  align-items: center;
  gap: 64px;
  border-radius: 60px;
  background: #244c98;
}

.containerDescription button p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}

.imgWrapper {
  display: flex;
  border-radius: 40px;
  background: #fff;
  padding: 12px 12px 12px 12px;
}

.containerImg {
  height: 100%;
}

/* modal */

.modal {
  width: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.369);
}

.active {
  display: flex;
}

.modalContainer {
  display: flex;
  width: 500px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  background: #f0f4fc;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  border-radius: 10px;
  background: #fff;
  padding: 6px;
  display: flex;
}

.modalTitle {
  color: #323232;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type='text'],
input[type='password'] {
  display: flex;
  height: 73px;
  width: 100%;
  padding: 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: #d7e2f6;
  margin-bottom: 5px;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: #1f4284;
}

input[type='password'] {
  margin-bottom: 24px;
}

.checkboxWrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.checkboxWrapper input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.checkboxWrapper lable {
  color: #323232;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}

.resetBtn {
  color: #244c98;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
}

.submitBtn,
.registerBtn {
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
  display: flex;
  padding: 18px 12px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  border-radius: 4px;
  margin-bottom: 4px;
}

.submitBtn {
  background: #244c98;
  color: #fff;
}

.registerBtn {
  border: 1px solid #244c98;
  color: #244c98;
  margin-bottom: 0;
}

/* 1440 */

@media screen and (max-width: 1440px) {
  .container {
    gap: 97px;
  }
}

/* 768 */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .containerDescription {
    padding: 24px;
  }
}

/* 375 */

@media screen and (max-width: 375px) {
  .containerDescription h1 {
    font-size: 17px;
  }

  .containerDescription > p {
    font-size: 13px;
  }

  .containerDescription .openBtn {
    padding: 10px 10px 10px 18px;
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .containerDescription button p {
    font-size: 11px;
  }

  .imgWrapper {
    padding: 6px;
  }
}
